[submodule "dmenu"]
	path = dmenu/repo
	url = http://git.suckless.org/dmenu
[submodule "slock"]
	path = slock/repo
	url = http://git.suckless.org/slock
[submodule "tabbed"]
	path = tabbed/repo
	url = http://git.suckless.org/tabbed
[submodule "st"]
	path = st/repo
	url = http://git.suckless.org/st
[submodule "dwm"]
	path = dwm/repo
	url = http://git.suckless.org/dwm
